* {
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	display: none;
}

#board {
	background-color: #232323;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
  font-size: 1.25rem;
}

#score {
	color: #efe9e9;
	margin: 1rem 1rem;
}

.player {
	position: absolute;
}

.obstacle {
	position: absolute;
}

.instructions, .restart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: rgba(226, 241, 241, 0.721);
  padding: 2em 1em;
  min-height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(240, 255, 255);
  color: #281818;
  border-radius: 8px
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.color {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center
}

.square {
  width: 20px;
  height: 20px;
  
}

.red {
  background-color: red
}

.purple {
  background-color: purple
}

.green {
  background-color: green
}

.instructions p {
  text-align: center;
}

.btn {
  all: unset;
  padding: .75em 1em;
  border-radius: 8px;
  background-color: black;
  color: whitesmoke
}

.restart {
  display: none
}


